@charset "utf-8";
@import url("./common.css");

.boxLogin { padding:30px 20px 70px; text-align:center; }
.boxLogin .title { margin-bottom:30px; font-size:18px; }
.boxLogin .input { margin-bottom:30px; }
.boxLogin .input input { width:100%; padding:15px; border:1px solid #707070; border-radius:5px; font-size:14px; }
.boxLogin .input input+input { margin-top:13px; }
.boxLogin .input input::placeholder { color:rgba(34,34,34,.4); }
.boxLogin .btn { margin-bottom:30px; }
.boxLogin .btn button { width:122px; height:50px; border:1px solid #5945f0; border-radius:50px; font-weight:700; font-size:16px; color:#5945f0; }
.boxLogin .link a { padding:0 6px; position:relative; display:inline-block; color:#afafaf; font-size:14px; }
.boxLogin .link a+a:after { content:''; width:1px; height:14px; position:absolute; left:0; top:50%; margin-top:-7px; background:#afafaf; }

.boxLogin.type--find { padding-top:130px; text-align:left; }
.boxLogin.type--find .title { margin-bottom:20px; font-size:20px; font-weight:500; }
.boxLogin.type--find .subject { margin-bottom:25px; font-size:18px; }
.boxLogin.type--find .input { margin-bottom:10px; }
.boxLogin.type--find .input+.input { margin-top:25px; }
.boxLogin.type--find .input h3.title { margin-bottom:15px; font-size:18px; font-weight:400; }

.boxNoLogin { padding:28px 0 70px; }
.boxNoLogin .item { margin-bottom:33px; }
.boxNoLogin .item .swiper-container { padding:0 8px; }
.boxNoLogin .item .swiper-slide { width:100px; padding:0 8px; }
.boxNoLogin .item .swiper-slide .box { width:84px; height:84px; border-radius:30px; background:url('../images/content/bgLoginItem.png') center center no-repeat #eff1f2; background-size:30px auto; overflow:hidden; }
.boxNoLogin .boxEnter { text-align:center; }
.boxNoLogin .boxEnter > div { margin-bottom:20px; font-size:18px; line-height:26px; }
.boxNoLogin .boxEnter > a { width:122px; height:50px; margin:0 auto; display:block; border-radius:50px; border:1px solid #5945f0; color:#5945f0; font-size:16px; font-weight:700; line-height:48px; }

.boxDetailTop { padding:48px 0 60px; text-align:center; color:#fff; word-break:keep-all;
	background: rgb(112,94,252);
	background: linear-gradient(180deg, rgba(112,94,252,1) 0%, rgba(88,68,240,1) 100%);
}
.boxDetailTop .item { width:240px; height:240px; margin:0 auto; overflow:hidden; border-radius:50%; box-shadow: 4px 5px 20px 0 rgba(0, 0, 0, 0.09); background:#fafafa; }
.boxDetailTop .title { width:280px; margin:12px auto; font-size:26px; line-height:32px; font-weight:700; }
.boxDetailTop .cont { margin-bottom:20px; }
.boxDetailTop .cont ul { display:inline-block; }
.boxDetailTop .cont ul li { overflow:hidden; font-size:14px; text-align:left; line-height:24px; }
.boxDetailTop .cont ul li .left { float:left; }
.boxDetailTop .cont ul li .right { margin-left:68px; font-weight:700; }
.boxDetailTop .btn a+a { margin-top:20px; }

.boxDetailTop.type--write { padding:130px 0 28px; text-align:left; background:#fff; }
.boxDetailTop.type--write .cont { padding:0 20px; margin:0; }
.boxDetailTop.type--write .cont .txt { margin-bottom:20px; font-size:20px; line-height:28px; color:#3c3c3c; }
.boxDetailTop.type--write .cont .boxFile { width:100%; height:68vw; padding-bottom:64px; display:flex; position:relative; background:#f5f5f5; border-radius:15px; align-items:center; justify-content:center; overflow:hidden; }
.boxDetailTop.type--write .cont .boxFile:after { content:''; width:100%; height:100%; position:absolute; left:0; top:0; border-radius:15px; z-index:1;
	background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='15' ry='15' stroke='%236552F6FF' stroke-width='1' stroke-dasharray='5%2c 5' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
}
.boxDetailTop.type--write .cont .boxFile .fileSub { padding-top:22px; background:url('../images/common/iconPlusGray.png') center top no-repeat; background-size:18px auto; color:#afafaf; font-size:14px; }
.boxDetailTop.type--write .cont .boxFile .fileBox { width:100%; position:relative; background:#f5f5f5; z-index:2; }
.boxDetailTop.type--write .cont .boxFile .fileBox img { width:100%; }
.boxDetailTop.type--write .cont .boxFile .btn { width:100%; position:absolute; left:0; bottom:0; display:flex; background:#fff; overflow:hidden; border:1px solid #afafaf; border-bottom-left-radius:15px; border-bottom-right-radius:15px; z-index:3; }
.boxDetailTop.type--write .cont .boxFile .btn a { height:62px; flex:1; display:flex; align-items:center; justify-content:center; font-size:14px; color:#3c3c3c; }
.boxDetailTop.type--write .cont .boxFile .btn a+a { margin:0; border-left:1px solid #afafaf; }
.boxDetailTop.type--write .cont .boxFile .btn a i { height:18px; display:inline-block; margin-right:10px; background-size:auto 100%; }
.boxDetailTop.type--write .cont .boxFile .btn a i.bg1 { width:18px; background-image:url('../images/content/bgFile1.png'); }
.boxDetailTop.type--write .cont .boxFile .btn a i.bg2 { width:22px; background-image:url('../images/content/bgFile2.png'); }
.boxDetailTop.type--write .cont .boxFile .btn a i.bg3 { width:9px; background-image:url('../images/content/bgFile3.png'); }
.boxDetailTop.type--write .cont .boxFile .btn a i.bg4 { width:14px; background-image:url('../images/content/bgFile4.png'); }
.boxDetailTop.type--write .cont .boxFile .btn a i.bg5 { width:16px; background-image:url('../images/content/bgFile5.png'); }

.btnCertify { height:22px; display:inline-block; line-height:22px; color:rgba(255,255,255,.6); font-size:16px; }
.btnCertify:after { content:''; width:22px; height:22px; display:inline-block; margin-left:7px; background:url('../images/common/btnRoundArrow.png') no-repeat; background-size:100% auto; vertical-align:middle; }

.btnGift { width:170px; height:50px; display:block; margin:0 auto; border-radius:50px; border:1px solid #00d5cd; text-align:center; color:#00d5cd; font-size:16px; line-height:48px; font-weight:700; }
.btnGift:before { content:''; width:13px; height:16px; display:inline-block; margin-right:6px; margin-top:-4px; background:url('../images/common/iconGift.png') center center no-repeat; background-size:100% auto; vertical-align:middle; }

.boxMainStory { padding:18px 0 70px; }
.boxDetailStory { padding:44px 0 20px; margin-top:-30px; background:#fff; border-top-left-radius:30px; border-top-right-radius:30px; }
.boxTopArea { position:relative; margin-bottom:18px; }
.boxTopArea h3.title { font-size:22px; font-weight:700; }
.boxTopArea .btnOpt { width:8px; height:20px; position:absolute; right:0; top:50%; margin-top:-10px; background:url('../images/common/iconOpt.png') center center no-repeat; background-size:2px auto; font-size:0; text-indent:-99999px; }

.boxStoryItem li { border-radius:10px; background:#fff; border:1px solid #eff1f2; box-shadow: 2px 3px 15px 0 rgba(0, 0, 0, 0.06); overflow:hidden; }
.boxStoryItem li+li { margin-top:20px; }
.boxStoryItem .thumb img { width:100%; }
.boxStoryItem .cont { padding:26px 20px; }
.boxStoryItem .cont .title { margin-bottom:10px; font-size:20px; font-weight:700; }
.boxStoryItem .cont .subject { margin-bottom:10px; font-size:14px; line-height:24px; }
.boxStoryItem .cont .bottom { position:relative; overflow:hidden; }
.boxStoryItem .cont .bottom .date { margin:10px 0; float:left; font-size:14px; color:#afafaf; }
.boxStoryItem .cont .bottom .btn { float:right; margin-right:-10px; }
.boxStoryItem .cont .bottom .btn a { width:33px; height:36px; float:left; font-size:0; text-indent:-99999px; background-size:13px auto; background-position:center center; background-repeat:no-repeat; }
.boxStoryItem .cont .bottom .btn a.write { background-image:url('../images/common/iconWrite.png'); }
.boxStoryItem .cont .bottom .btn a.delete { background-image:url('../images/common/iconDelete.png'); }
.boxStoryItem .cont .bottom .btn a+a { margin-left:10px; }

.boxDetailWrite { padding-bottom:50px; border-top:1px solid #eff1f2; }
.boxDetailWrite .title { border-bottom:1px solid #eff1f2; }
.boxDetailWrite .title input { width:100%; height:62px; padding:0 20px; border:0; color:#222; font-size:17px; font-weight:700; }
.boxDetailWrite .title input::placeholder { font-size:14px; color:rgba(34,34,34,.4); font-weight:400; }
.boxDetailWrite .cont { border-bottom:1px solid #eff1f2; }
.boxDetailWrite .cont textarea { width:100%; height:190px; padding:22px 20px; border:0; resize:none; font-size:14px; font-family:inherit; }
.boxDetailWrite .cont textarea::placeholder { color:rgba(34,34,34,.4); }
.boxDetailWrite .setup { padding:12px 16px; text-align:right; }
.boxDetailWrite .setup label { margin-left:25px; }
.boxDetailWrite .setup label:first-of-type { margin-left:0; }

.boxCertifyItem { text-align:center; }

.boxForm { padding:126px 20px 40px; }
.boxForm input[type="text"],
.boxForm input[type="password"],
.boxForm input[type="number"],
.boxForm select { font-size:14px; }

.boxAgree { padding:38px 20px 70px; border-top:1px solid #eff1f2; }
.boxAgree .all { margin-bottom:24px; font-size:18px; }
.boxAgree .all input[type="checkbox"]+label:after { top:50%; margin-top:-19px; }
.boxAgree .check { position:relative; font-size:14px; }
.boxAgree .check+.check { margin-top:16px; }
.boxAgree .check .detail { position:absolute; right:0; top:0; font-size:12px; color:#afafaf; }

.listMyitem { padding:100px 20px 50px;
	background: rgb(112,94,252);
	background: linear-gradient(180deg, rgba(112,94,252,1) 0%, rgba(88,68,240,1) 100%);
}
.listMyitem ul li { position:relative; background:#fff; border-radius:10px; overflow:hidden; box-shadow: 2px 3px 15px 0 rgba(0, 0, 0, 0.06); }
.listMyitem ul li+li { margin-top:20px; }
.listMyitem ul li a { display:block; }
.listMyitem ul li .thumb { width:30%; height:100%; position:absolute; left:0; top:0; display:flex; align-items:center; justify-content:center; box-shadow: 2px 0 17px 0 rgba(0, 0, 0, 0.09); }
.listMyitem ul li .cont { margin-left:36%; padding:32px 10px 32px 0; }
.listMyitem ul li .cont dl { overflow:hidden; font-size:14px; color:#3c3c3c; letter-spacing:-.08em; }
.listMyitem ul li .cont dl dt { float:left; }
.listMyitem ul li .cont dl dd { margin-left:65px; font-weight:700; }

.boxSetup { padding:27px 0; position:relative; }
.boxSetup .topBox { height:40px; margin:0 20px; padding:0 20px; background:#effcfb; border-radius:50px; font-size:14px; line-height:40px; }
.boxSetup .topBox:before { content:''; width:22px; height:22px; margin-right:7px; display:inline-block; background:url('../images/common/iconSetCategory.png') center center no-repeat; background-size:100% auto; vertical-align:middle; }
.boxSetup .listBox li { padding:25px 20px 30px; }
.boxSetup .listBox li+li { border-top:1px solid #eff1f2; }
.boxSetup .listBox li .title { margin-bottom:10px; font-size:20px; line-height:28px; }
.boxSetup .listBox li .cont { overflow:hidden; }
.boxSetup .listBox li .cont a { height:36px; padding:0 18px; margin:5px 10px 5px 0; float:left; border:1px solid #707070; border-radius:36px; line-height:34px; font-size:14px; opacity:.4; }
.boxSetup .listBox li .cont a.active { border-color:#00d5cd; box-shadow: 0 3px 6px 0 rgba(0, 213, 205, 0.11); opacity:1; }

.selectLock { position:relative; display:inline-block; }
.selectLock label { height:32px; padding:0 22px 0 16px; position:relative; background:url('../images/common/iconLock.png') left center no-repeat; background-size:11px auto; z-index:1; line-height:32px; }
.selectLock label:after { content:''; width:13px; height:8px; position:absolute; right:0; top:50%; background:url('../images/common/iconSelect.png') center center no-repeat; background-size:13px auto; transform:translateY(-50%); }
.selectLock select { width:100%; height:100%; position:absolute; left:0; top:0; opacity:0; z-index:2; }

#btnScan { width:66px; height:66px; position:fixed; right:20px; bottom:20px; background:url('../images/common/btnScan.png') center center no-repeat #00d5cd; background-size:30px auto; border-radius:50%; box-shadow: 2px 3px 12px 0 rgba(144, 170, 164, 0.19); font-size:0; text-indent:-99999px; z-index:99; }

.btnBasic { width:192px; height:50px; background:#6552f6; border-radius:50px; color:#fff; font-size:16px; font-weight:700; }

.boxCustomer { padding:100px 0 0; }
.boxCustomer h3.title { margin-bottom:10px; padding:0 20px; font-size:20px; font-weight:500; }

.boxFAQ li { border-bottom:1px solid #eff1f2; }
.boxFAQ li+li { margin-top:24px; }
.boxFAQ li .title { padding:14px 40px 14px 20px; position:relative; font-size:18px; font-weight:500; font-family:"SFProDisplay", "Sans-serif"; }
.boxFAQ li .title:after { content:''; width:13px; height:8px; position:absolute; right:20px; top:50%; background:url('../images/common/iconSelect.png') no-repeat; background-size:100% auto; transform:translateY(-50%); transition:all .3s; }
.boxFAQ li .title.on:after { transform:rotate(180deg); }
.boxFAQ li .cont { padding:18px 20px; font-size:14px; line-height:26px; color:#999; }

.boxPrivacy { padding:20px; color:#3c3c3c; line-height:26px; font-size:14px; }
.boxPrivacy h4.title { margin-bottom:30px; text-align:center; font-size:18px; }
.boxPrivacy .title { font-weight:700; }
.boxPrivacy .cont { margin-bottom:30px; }
.boxPrivacy .cont:last-child { margin-bottom:0; }

.boxLicense { margin-top:30px; font-family:"SFProDisplay", "Sans-serif"; word-break:break-word; }
.boxLicense .top { padding:12px 20px; background:#6552f6; color:#fff; font-size:15px; font-weight:500; }
.boxLicense .cont { padding:30px 20px; font-size:14px; line-height:26px; font-weight:400; }
.boxLicense .cont+.cont { border-top:1px solid #3c3c3c; }
.boxLicense .cont a { font-size:14px; color:#0841ff; text-decoration:underline; }
.boxLicense .cont strong { font-weight:600; }

.boxInfomation { min-height:500px; position:relative; padding:0 0 120px; margin-top:30px; }
.boxInfomation .title { margin-bottom:20px; padding:0 20px; color:#6552f6; font-size:18px; font-weight:500; font-family:"SFProDisplay", "Sans-serif"; }
.boxInfomation .cont { padding:0 20px; font-size:14px; color:#3c3c3c; line-height:26px; }
.boxInfomation .cont+.cont { margin-top:30px; padding-top:30px; border-top:1px solid #eff1f2; }
.boxInfomation .cont .mapArea { margin-bottom:40px; }
.boxInfomation .cont .mapArea iframe { width:100%; height:335px; }
.boxInfomation .listInfo { overflow:hidden; }
.boxInfomation .listInfo dt { float:left; margin-bottom:12px; }
.boxInfomation .listInfo dd { margin:0 0 12px 38px; }
.boxInfomation .listInfo dt:last-of-type,
.boxInfomation .listInfo dd:last-of-type { margin-bottom:0; }
.boxInfomation .listInfo dt img { width:14px; vertical-align:middle; }
.boxInfomation .useGuide li { padding:40px 0; }
.boxInfomation .useGuide li+li { border-top:1px solid #eff1f2; }
.boxInfomation .useGuide li:first-child { padding-top:0; }
.boxInfomation .useGuide .guide { padding:0 35px; position:relative; font-size:14px; line-height:26px; }
.boxInfomation .useGuide .guide:before { content:''; width:3px; height:3px; position:absolute; left:26px; top:12px; background:#6552f6; border-radius:50%; }
.boxInfomation .logo { width:119px; position:absolute; left:50%; bottom:45px; margin-left:-55px; }

.guide-text { font-size:12px; color:#3c3c3c; text-align:left; }
.guide-text.type--dot { padding-left:6px; position:relative; }
.guide-text.type--dot:before { content:'·'; position:absolute; left:0; top:0; }
.guide-text.type--imp { padding-left:14px; position:relative; }
.guide-text.type--imp:before { content:'※'; position:absolute; left:0; top:0; }
.guide-text.danger { color:#f85a6e; }
.guide-text+.guide-text { margin-top:3px; }